---
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.svelte";
import Experience from "../components/Experience.svelte";
import "../styles/global.css";
import Project from "../components/Project.astro";
import ScrollHandler from "../components/ScrollHandler.svelte";
---

<html>
  <head>
    <title>Valentin Lantigny - Site Vitrine</title>
    <meta charset="UTF-8" />
  </head>
  <body class="scroll-smooth">
    <Navbar />
    <main class="pt-16">
      <Hero client:load />
      <Experience client:load />
      <Project />
    </main>
    
  </body>
</html>