---
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Experience from "../components/Experience.svelte";
import "../styles/global.css";
import Project from "../components/Project.astro";
---

<html>
  <head>
    <title>Valentin Lantigny - Site Vitrine</title>
	<meta charset="UTF-8" />
  <script src="https://unpkg.com/alpinejs@3" defer></script>
  </head>
  <body class="scroll-smooth">
    <Navbar />
    <main class="pt-16">
      <Hero />
      <Experience client:load />
      <Project />
    </main>
  </body>
</html>
